.stepper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 2rem auto;
}

.stepper--portrait {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stepper-container--portrait {
  width: 100%;
}

.stepper__indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  list-style: none;
}

.stepper__indicator--portrait {
  flex-direction: column;
  margin: 2rem;
  margin-bottom: 0;
}

.stepper__progress-bar {
  position: absolute;
  left: 0%;
  height: 0.125rem;
  width: 100%;

  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
  -moz-transition: width 0.3s ease-in;
  -ms-transition: width 0.3s ease-in;
  -o-transition: width 0.3s ease-in;
}

.stepper__progress-bar--portrait {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0.125rem;
  height: 100%;
  transition: height 0.3s ease-in;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -ms-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
}

::-webkit-progress-bar {
  background-color: var(--color-white);
}

::-webkit-progress-value {
  background-color: var(--color-secondary);
}

.stepper__progress-bar[value] {
  appearance: none;
  border: 0;
  color: var(--color-secondary);
}

.stepper__indicator-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-primary);
  border: 0.125rem solid var(--color-secondary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 1;
}

.stepper__indicator-item--filled {
  background-color: var(--color-secondary);
}

.stepper__content {
  margin: 1rem auto;
  width: 100%;
}

.stepper__footer {
  display: flex;
  align-items: center;
}

.stepper__footer--left {
  margin-right: auto;
}

.stepper__footer--right {
  margin-left: auto;
}
