.button {
  padding: 0.625rem 1.25rem;
  border: 0.125rem solid var(--color-secondary);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background: var(--color-secondary);
  box-shadow: 0 0.063rem 0.25rem var(--color-shadow);
  color: var(--color-font);
  cursor: pointer;
  font: inherit;
  font-size: 90%;
  font-weight: 700;
  min-width: 6.25rem;
  max-width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.125rem;
  margin-top: -0.125rem;
}

.button:hover,
.button:active {
  border-color: var(--color-secondary);
  opacity: 0.75;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button--large {
  width: 100%;
}

.button__icon {
  width: 0.9rem;
  filter: var(--color-icon);
}

.button__icon--label {
  margin-right: 0.5rem;
}

.button:focus-visible {
  outline: 0.125rem solid var(--color-highlight);
}

.button:focus:not(:focus-visible) {
  outline: none;
}
