.button {
  padding: 0.625rem 1.25rem;
  border: 0.063rem solid var(--color-secondary);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  background: var(--color-secondary);
  color: var(--color-font);
  cursor: pointer;
  font-size: 90%;
  font-weight: 700;
  min-width: 6.25rem;
}

.button:hover,
.button:active {
  border-color: var(--color-secondary);
  opacity: 0.75;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.button--large {
  width: 100%;
}


