.button {
  padding: 10px 20px;
  border: 1px solid var(--color-secondary);
  border-radius: 3px;
  background: var(--color-secondary);
  color: var(--color-font);
  cursor: pointer;
  margin-right: 10px;
  font-size: 90%;
  font-weight: 700;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  min-width: 100px;
}

.button:focus {
  border-color: var(--color-secondary);
  outline: none;
}

.button:hover,
.button:active {
  border-color: var(--color-secondary);
  opacity: 0.5;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.button--large {
  width: 100%;
}


