.game-over {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  height: 90%;
}

.game-over__title {
  width: 100%;
  margin: 0.625rem auto;
  margin-bottom: 1.5rem;
  line-height: 2rem;
  animation: text 2s ease infinite;
  -webkit-animation: text 2s ease infinite;
}

.game-over__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 3rem;
}

.game-over__balloons {
  margin: 2.25rem 0.625rem 1.25rem;
}

.game-over__balloon {
  display: inline-block;
  width: 7.5rem;
  height: 9rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  position: relative;
  box-shadow: inset -0.625rem -0.625rem 0 rgba(0, 0, 0, 0.07);
  margin-right: 0.625rem;
  transition: transform 0.5s ease;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.game-over__balloon:before {
  content: '▲';
  font-size: 1.25rem;
  color: #5979a6;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -0.75rem;
}

.game-over__balloon:after {
  display: inline-block;
  top: 9.6rem;
  left: 3.75rem;
  position: absolute;
  height: 15rem;
  width: 0.063rem;
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
}

.game-over__balloon:nth-child(2) {
  background-color: #ce8355;
  animation-duration: 5s;
}

.game-over__balloon:nth-child(2):before {
  color: #a96942;
}

.game-over__balloon:nth-child(3) {
  background-color: #95e2ac;
  animation-duration: 3s;
  position: relative;
}

.game-over__balloon:nth-child(3):before {
  color: var(--color-green);
}

.game-over__balloon--number {
  line-height: 7.5rem;
  color: #eec662;
  font-size: 500%;
  animation: numbers 2s ease-in-out infinite alternate;
  -webkit-animation: numbers 2s ease-in-out infinite alternate;
}

.game-over__balloon--image {
  line-height: 7.5rem;
  color: #eec662;
  text-align: center;
  width: 95%;
  font-size: 4.7rem;
  margin: 0 auto;
  margin-top: 0.625rem;
  opacity: 0.3;
  border-radius: 50%;
  background-color: #95e2ac;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.game-over__balloon--emoji {
  font-size: 500%;
  position: absolute;
  left: 0;
  right: 0;
  top: 4rem;
  margin: 0 auto;
  opacity: 0.5;
}

.game-over__party-hat {
  position: absolute;
  top: -4rem;
  right: -5rem;
  margin-right: 2rem;
  width: 4.25rem;
  transform: rotate(45deg);
}

.game-over__body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin: 0.625rem 1.25rem 2rem;
  height: 100%;
}

.game-over__body--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding-bottom: 1rem;
}

.game-over__button {
  margin-top: 0.625rem;
  animation: button 2s ease-in-out infinite alternate;
  -webkit-animation: button 2s ease-in-out infinite alternate;
}

.game-over__link {
  position: absolute;
  font-size: 95%;
  left: 1em;
  bottom: 1rem;
  height: 2rem;
}

.game-over__carousel--mobile {
  display: block;
  margin-bottom: 1.5rem;
}

.game-over__carousel--desktop {
  display: none;
}

.game-over__cake--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over__cake--holder {
  width: 15rem;
  height: 1rem;
  border-radius: 6.25rem;
  background-color: var(--color-font);
}

.game-over__cake {
  position: relative;
  overflow: hidden;
  width: 12.5rem;
  height: 8.75rem;
  background-color: #7c665f;
  border-radius: 2rem 2rem 0 0;
}

.game-over__cake:after {
  content: '';
  background-color: #352728;
  width: 100%;
  height: 0.625rem;
  position: absolute;
  top: 7rem;
  left: 0;
}

.game-over__cake:before {
  content: '';
  background-color: #352728;
  width: 100%;
  height: 0.625rem;
  position: absolute;
  top: 5rem;
  left: 0;
}

.game-over__cake--top {
  position: relative;
  background-color: #352728;
  width: 100%;
  height: 2.5rem;
}

.game-over__cake--top:after {
  content: '';
  position: absolute;
  background-color: #352728;
  width: 1.56rem;
  height: 3.125rem;
  top: 1rem;
  left: -0.3rem;
  border-radius: 3.125rem;
}

.game-over__cake--top:before {
  content: '';
  position: absolute;
  background-color: #7c665f;
  width: 1.6rem;
  height: 1.1rem;
  top: 1.6rem;
  left: 1.3rem;
  border-radius: 3.2rem 3.2rem 0 0;
}

.game-over__cake--chocolate-drops {
  position: absolute;
  background-color: #352728;
  width: 1.6rem;
  height: 2.8rem;
  top: 1rem;
  left: 2.9rem;
  border-radius: 3.1rem;
}

.game-over__cake--chocolate-drops:after {
  content: '';
  position: absolute;
  background-color: #7c665f;
  width: 1.6rem;
  height: 2.2rem;
  left: 1.6rem;
  border-radius: 3.1rem;
}

.game-over__cake--chocolate-drops:before {
  position: absolute;
  background-color: #352728;
  width: 1.7rem;
  height: 2.8rem;
  top: 0.625rem;
  left: 3.2rem;
  border-radius: 3.1rem;
  content: '';
}

.game-over__cake--chocolate-drops-a {
  position: absolute;
  background-color: #7c665f;
  width: 1.6rem;
  height: 2.2rem;
  left: 7.8rem;
  top: 1.6rem;
  border-radius: 3.2rem;
}

.game-over__cake--chocolate-drops-a:after {
  position: absolute;
  background-color: #352728;
  width: 1.6rem;
  height: 2.8rem;
  top: -0.3rem;
  left: 1.6rem;
  border-radius: 3.2rem;
  content: '';
}

.game-over__cake--chocolate-drops-a:before {
  position: absolute;
  content: '';
  background-color: #7c665f;
  width: 1.6rem;
  height: 2.2rem;
  left: 3.2rem;
  top: 0.3rem;
  border-radius: 3.2rem;
}

.game-over__cake--candle {
  position: relative;
  width: 1rem;
  height: 3.5rem;
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 0.625rem,
      #e74c3c 0.625rem,
      #e74c53 1rem
    ),
    var(--color-white);
}

.game-over__cake--flame {
  position: relative;
  background-color: #f4d03f;
  opacity: 0.9;
  box-shadow: inset 0 -0.3rem 0.3rem #d35400, 0.3rem -0.3rem 1.25rem #fbffa3;
  width: 0.8rem;
  height: 1.5rem;
  margin-bottom: 0.3rem;
  border-radius: 50%;
  animation: flame 0.5s infinite;
}

.game-over__cake--flame:after {
  display: inline-block;
  position: absolute;
  height: 0.5rem;
  width: 0.0625rem;
  bottom: -0.5rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: '';
  background-color: rgba(0, 0, 0, 0.7);
}

@media only screen and (min-width: 767px) {
  .game-over__balloons {
    margin-left: 2rem;
  }

  .game-over__body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0.625rem 3.1rem 2rem;
  }

  .game-over__carousel--mobile {
    display: none;
  }

  .game-over__carousel--desktop {
    display: block;
  }

  .game-over__body--bottom {
    margin-left: 7rem;
    margin-right: 0.5rem;
  }
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-8deg);
    -webkit-transform: translateY(0) rotate(-8deg);
    -moz-transform: translateY(0) rotate(-8deg);
    -ms-transform: translateY(0) rotate(-8deg);
    -o-transform: translateY(0) rotate(-8deg);
  }
  50% {
    transform: translateY(-2rem) rotate(8deg);
    -webkit-transform: translateY(-2rem) rotate(8deg);
    -moz-transform: translateY(-2rem) rotate(8deg);
    -ms-transform: translateY(-2rem) rotate(8deg);
    -o-transform: translateY(-2rem) rotate(8deg);
  }
}

@keyframes numbers {
  from {
    color: #eec662;
  }

  to {
    color: gray;
  }
}

@keyframes text {
  from {
  }
  to {
    color: var(--color-secondary);
  }
}

@keyframes button {
  from {
    text-shadow: 0 0 0.625rem var(--color-blue), 0 0 1.25rem var(--color-blue),
      0 0 2rem var(--color-blue), 0 0 2.5rem var(--color-blue),
      0 0 3.1rem var(--color-blue), 0 0 3.75rem var(--color-blue),
      0 0 4.4rem var(--color-blue), 0 0 5.6rem var(--color-blue);
  }

  to {
    color: var(--color-white);
    text-shadow: 0 0 1.25rem var(--color-blue), 0 0 1rem var(--color-blue),
      0 0 2.5rem var(--color-blue), 0 0 3.1rem var(--color-blue),
      0 0 3.75rem var(--color-blue), 0 0 3.75rem var(--color-blue),
      0 0 5rem var(--color-blue), 0 1 5.6rem var(--color-blue);
  }
}

@keyframes flame {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
