.game-over {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  height: 90%;
}

.game-over__title {
  width: 100%;
  margin: 0.625rem auto;
  margin-bottom: 0.625rem;
  line-height: 2rem;
  animation: text 2s ease infinite;
  -webkit-animation: text 2s ease infinite;
}

.game-over__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
}

.game-over__balloons {
  margin: 1.25rem 0.625rem;
}

.game-over__balloon {
  display: inline-block;
  width: 7.5rem;
  height: 9rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  position: relative;
  box-shadow: inset -0.625rem -0.625rem 0 rgba(0, 0, 0, 0.07);
  margin-right: 0.625rem;
  transition: transform 0.5s ease;
  animation: balloons 4s ease-in-out infinite;
  transform-origin: bottom center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.game-over__balloon:before {
  content: "▲";
  font-size: 1.25rem;
  color: #5979a6;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -0.75rem;
}

.game-over__balloon:after {
  display: inline-block;
  top: 9.6rem;
  left: 3.75rem;
  position: absolute;
  height: 15rem;
  width: 0.063rem;
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
}

.game-over__balloon:nth-child(2) {
  background-color: #ce8355;
  animation-duration: 5s;
}

.game-over__balloon:nth-child(2):before {
  color: #a96942;
}

.game-over__balloon:nth-child(3) {
  background-color: #95e2ac;
  animation-duration: 3s;
}
.game-over__balloon:nth-child(3):before {
  color: var(--color-green);
}

.game-over__balloon--number {
  line-height: 7.5rem;
  color: #eec662;
  font-size: 500%;
  animation: numbers 2s ease-in-out infinite alternate;
  -webkit-animation: numbers 2s ease-in-out infinite alternate;
}

.game-over__balloon--image {
  line-height: 7.5rem;
  color: #eec662;
  text-align: center;
  width: 95%;
  font-size: 4.7rem;
  margin: 0 auto;
  margin-top: 0.625rem;
  opacity: 0.3;
  border-radius: 50%;
  background-color: #95e2ac;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.game-over__party-hat {
  margin-right: 2rem;
  width: 5rem;
  animation: party-hat 3s ease-in-out infinite;
  -webkit-animation: party-hat 3s ease-in-out infinite;
}

.game-over__body {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0.625rem 1.25rem 2rem;
  height: 100%;
}

.game-over__body--bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: 3rem;
}

.game-over__button {
  margin-top: 0.625rem;
  animation: button 2s ease-in-out infinite alternate;
  -webkit-animation: button 2s ease-in-out infinite alternate;
}

.game-over__link {
  position: absolute;
  font-size: 95%;
  left: 1em;
  bottom: 0;
  height: 2rem;
}

.game-over__carousel--mobile {
  display: block;
  margin-bottom: 1.5rem;
}

.game-over__carousel--desktop {
  display: none;
}

@media only screen and (min-width: 767px) {
  .game-over {
    padding-top: 2.5rem;
  }

  .game-over__balloons {
    margin-left: 2rem;
  }

  .game-over__body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0.625rem 3.1rem 2rem;
  }

  .game-over__party-hat {
    margin-right: 2rem;
    width: 6.25rem;
  }

  .game-over__carousel--mobile {
    display: none;
  }

  .game-over__carousel--desktop {
    display: block;
  }

  .game-over__link {
    left: 8rem;
  }
}

@keyframes balloons {
  0%,
  100% {
    transform: translateY(0) rotate(-8deg);
    -webkit-transform: translateY(0) rotate(-8deg);
    -moz-transform: translateY(0) rotate(-8deg);
    -ms-transform: translateY(0) rotate(-8deg);
    -o-transform: translateY(0) rotate(-8deg);
  }
  50% {
    transform: translateY(-2rem) rotate(8deg);
    -webkit-transform: translateY(-2rem) rotate(8deg);
    -moz-transform: translateY(-2rem) rotate(8deg);
    -ms-transform: translateY(-2rem) rotate(8deg);
    -o-transform: translateY(-2rem) rotate(8deg);
  }
}

@keyframes party-hat {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
}

@keyframes numbers {
  from {
    color: #eec662;
  }

  to {
    color: gray;
  }
}

@keyframes text {
  from {
  }
  to {
    color: var(--color-secondary);
  }
}

@keyframes button {
  from {
    text-shadow: 0 0 0.625rem var(--color-blue), 0 0 1.25rem var(--color-blue),
      0 0 2rem var(--color-blue), 0 0 2.5rem var(--color-blue),
      0 0 3.1rem var(--color-blue), 0 0 3.75rem var(--color-blue),
      0 0 4.4rem var(--color-blue), 0 0 5.6rem var(--color-blue);
  }

  to {
    color: white;
    text-shadow: 0 0 1.25rem var(--color-blue), 0 0 1rem var(--color-blue),
      0 0 2.5rem var(--color-blue), 0 0 3.1rem var(--color-blue),
      0 0 3.75rem var(--color-blue), 0 0 3.75rem var(--color-blue),
      0 0 5rem var(--color-blue), 0 1 5.6rem var(--color-blue);
  }
}
