.game-card-wrapper {
  list-style: none;
  width: 150px;
  height: 210px;
  position: relative;
  margin: 15px;
  transform-style: preserve-3d;
  animation: bounce 1.2s ease-in-out;
  -webkit-animation: bounce 1.2s ease-in-out;
}

.game-card-wrapper--landscape {
  width: 210px;
  height: 150px;
}

.game-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border: 1px solid var(--color-transparent);
  border-radius: 6px;
  padding: 5px;
  background: var(--color-white);
  box-sizing: border-box;
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  backface-visibility: hidden;
  perspective: 600px;
  overflow: hidden;
}

.game-card--front {
  pointer-events: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.game-card--selected-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.game-card--selected-front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.game-card:hover {
  border: 1px solid var(--color-orange);
  cursor: pointer;
}

.game-card__image {
  width: 100%;
  height: 100%;
}

.game-card__image--not-loaded {
  visibility: hidden;
}

.game-card__image--placeholder {
  background-color: var(--color-secondary);
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}

.game-card__image--placeholder:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-secondary),
    var(--color-disabled),
    var(--color-secondary)
  );
  animation: loading 2s infinite linear;
  -webkit-animation: loading 2s infinite linear;
}

@keyframes loading {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  50%,
  100% {
    transform: translateY(230px);
    -webkit-transform: translateY(230px);
    -moz-transform: translateY(230px);
    -ms-transform: translateY(230px);
    -o-transform: translateY(230px);
  }
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
