.toast {
  box-shadow: 0 0.125rem 0.5rem rgba(var(--color-shadow), 0.2);
  width: 85%;
  height: 3.125rem;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.625rem;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
}

.toast--alert {
  background-color: var(--color-red);
}

.toast--info {
  background-color: var(--color-red);
}

.toast--success {
  background-color: var(--color-green);
}

.toast--warning {
  background-color: var(--color-yellow);
}

.toast-message {
   font-size: 95%;
  color: var(--color-white);
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
}

@keyframes fadeIn {
   0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
 