.toast {
  box-shadow: 0 0.125rem 0.5rem var(--color-shadow);
  width: 85%;
  max-width: 20rem;
  position: fixed;
  top: 3rem;
  right: 0;
  padding: 1rem;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
}

.toast--deleting {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
}

.toast--alert {
  background-color: var(--color-red);
}

.toast--info {
  background-color: var(--color-red);
}

.toast--success {
  background-color: var(--color-green);
}

.toast--warning {
  background-color: var(--color-yellow);
}

.toast__message {
  font-size: 95%;
  color: var(--color-white);
  font-weight: 400;
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
