.radio-button__wrapper {
  display: flex;
  align-items: center;
  user-select: none;
}

.radio-button {
  position: relative;
  height: 15px;
  width: 15px;
  border: 1px solid var(--color-orange);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-button:hover {
  opacity: 0.75;
}

.radio-button--disabled {
  border: 1px solid var(--color-disabled);
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.radio-button__check {
  /*position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  height: 0px;
  width: 0px;
  background-color: var(--color-orange);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.radio-button__check--active {
  height: 8px;
  width: 8px;
  transition: all 0.3s linear;
}

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.radio-button__label {
  font-size: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
