.card {
  box-shadow: 0 0.25rem 0.625rem var(--color-black);
  border-radius: 0.38rem;
  -webkit-border-radius: 0.38rem;
  -moz-border-radius: 0.38rem;
  -ms-border-radius: 0.38rem;
  -o-border-radius: 0.38rem;
  padding: 1rem;
  overflow: hidden;
  background-color: var(--color-primary);
}
