.upload {
  flex: 1;
}

.upload__title {
  font-size: 95%;
  font-weight: 700;
  margin-bottom: 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload__input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
}

.upload__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  height: 5.6rem;
  width: 100%;
}

.upload__preview {
  display: flex;
  flex: 2;
  overflow: auto;
  margin-left: 1.25rem;
  height: 100%;

}

.upload__preview--files {
  display: block;
  margin-left: 0;
  height: 100%;

}

.upload__preview-container {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.upload__image-preview {
  width: 6.25rem;
  height: 4.4rem;
  margin-right: 0.3rem;
}

.upload__file-preview {
  font-size: 90%;
  display: inline;
  margin-right: 0.3rem;
  margin-left: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upload__preview-close {
  border: none;
  position: absolute;
  top: 0.8rem;
  right: 0.8em;
  width: 0.625rem;
  height: 0.625rem;
  padding: 0.063rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--color-white) url('../../assets/icons/close.svg') no-repeat center center;
  background-size: 0.5rem 0.5rem ;
}

.upload__preview-file-close {
  position: relative;
  top: 0;
  right: 0;
}

.upload__preview-close:hover {
  opacity: 0.75;
}
