.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 55px;
}

.toggle-switch--disabled {
  cursor: default;
  pointer-events: none;
}

.toggle-switch--with-label {
  width: auto;
}

.toggle-switch__label {
  line-height: 12px;
  padding: 0 2px;
  align-self: center;
  font-size: 85%;
  font-style: italic;
  white-space: nowrap;
}

.toggle-switch__label:hover {
  cursor: pointer;
}

.toggle-switch__label--disabled {
  color: var(--color-disabled);
}

.toggle-switch__slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: var(--color-primary);
  border-radius: 34px;
  border: 1px solid var(--color-orange);
  cursor: pointer;
  height: 18px;
  width: 38px;
  line-height: 85%;
  position: relative;
  padding: 2px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.toggle-switch__slider:hover {
  opacity: 0.75;
}

.toggle-switch__slider:before {
  background-color: var(--color-orange);
  border-radius: 50%;
  box-shadow: 0 2px 2px var(--color-orange);
  content: "";
  height: 22px;
  width: 22px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  bottom: 0px;
  position: absolute;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.toggle-switch__slider--checked:before {
  opacity: 1;
  transform: translateX(21px);
  -webkit-transform: translateX(21px);
  -moz-transform: translateX(21px);
  -ms-transform: translateX(21px);
  -o-transform: translateX(21px);
}

.toggle-switch__slider--disabled {
  border: 1px solid var(--color-disabled);
  opacity: 0.3; 
}

.toggle-switch__slider--disabled:before {
  background-color: var(--color-disabled);
  opacity: 0.8;
}