.game-setup {
  padding: 1.5rem;
}

.game-setup__title {
  font-size: 180%;
  text-align: center;
  margin-bottom: 3.5rem;
}

.game-setup__form {
  margin: 2rem auto;
  width: 80%;
  position: relative;
}

.game-setup__step-title {
  font-size: 120%;
  margin-top: 2.5rem;
}

.game-setup__step-image {
  max-width: 18rem;
  max-height: 13rem;
  margin: 1rem auto;
}

.game-setup__form-item {
  text-align: left;
  width: 90%;
  margin: 2rem auto;
}

.game-setup__form-item-title {
  font-size: 95%;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.game-setup__form-item-title--input {
  margin-bottom: 0;
}

.game-setup__form-item--input {
  width: 6.25rem;
  border-radius: 0.3rem;
}

.game-setup__form-item-radio {
  display: flex;
}

.game-setup__form-button {
  margin: 3.75rem auto;
  width: 90%;
}

.game-setup__form-upload {
  width: 30%;
}

.game-setup__radio {
  margin-right: 1rem;
}

.game-setup__play {
  margin: 2.5rem auto;
}

.game-setup__download {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.game-setup__icon-button {
  width: auto;
  margin-right: 1.5rem;
  min-width: auto;
}

.game-setup__button {
  margin: 1.5rem auto 0;
}

.game-setup__icon-button:last-child {
  margin-right: 0rem;
}

@media only screen and (min-width: 480px) {
  .game-setup__form {
    width: 75%;
  }
}

@media only screen and (min-width: 767px) {
  .game-setup {
    padding-top: 2.5rem;
  }

  .game-setup__form {
    width: 65%;
  }

  .game-setup__form-item {
    width: 70%;
  }

  .game-setup__form-button {
    width: 70%;
  }
}

@media only screen and (min-width: 1200px) {
  .game-setup__form {
    width: 60%;
  }
}
