.game-setup__title {
  margin: 2rem 0;
  font-size: 180%;
  text-align: center;
}

.game-setup__form {
  margin: 2rem auto;
  width: 80%;
  position: relative;
}

.game-setup__step-title {
  font-size: 120%;
}

.game-setup__step-image {
  width: 50%;
  margin: 1rem auto;
}

.game-setup__form-item {
  text-align: left;
  width: 90%;
  margin: 2.5rem auto;
}

.game-setup__form-item-title {
  font-size: 95%;
  font-weight: 700;
  margin-bottom: 0.625rem;
}

.game-setup__form-item-title--input {
  margin-bottom: 0;
  width: 50%;
}

.game-setup__form-item-radio {
  display: flex;
}

.game-setup__form-button {
  margin: 3.75rem auto;
  width: 90%;
}

.game-setup__form-upload {
  width: 30%;
}

.game-setup__radio {
  margin-right: 1rem;
}

.game-setup__toast {
  right: 0;
  left: auto;
  margin: 0;
  width: 60%;
  top: 5%;
  padding: 2rem 1.25rem;
}

@media only screen and (min-width: 480px) {
  .game-setup__form {
    width: 75%;
  }
}

@media only screen and (min-width: 767px) {
  .game-setup__form {
    width: 65%;
  }

  .game-setup__form-item {
    width: 70%;
  }

  .game-setup__form-button {
    width: 70%;
  }
}

@media only screen and (min-width: 1023px) {
  .game-setup__form {
    width: 50%;
  }
}
