.game-board__title {
  margin: 1rem auto;
  font-size: 180%;
}

.game-board__card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.game-board__footer {
  margin: 1rem 0;
}


@media only screen and (min-width: 767px) {
  .game-board__title {
    margin: 1rem 0;
  }
}