.game-board {
  padding-top: 1.5rem;
}

.game-board__title {
  text-align: center;
  font-size: 180%;
  margin-bottom: 3.5rem;
}

.game-board__card-list {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  margin: auto;
  gap: 0.5rem;
  justify-content: center;
}

.game-board__footer {
  margin: 3.5rem auto;
}

/*  for safari below 14.1 that not supports gap with flexbox */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .game-board__card-list {
      margin: -0.5em;
    }

    .game-board__card-list > * {
      margin: 0.5em;
    }
  }
}

@media only screen and (min-width: 767px) {
  .game-board__card-list {
    width: 45rem;
  }
}

@media only screen and (min-width: 993px) {
  .game-board {
    padding-top: 2.5rem;
  }

  .game-board__card-list {
    width: 60rem;
  }
}
