.game-board {
  padding-top: 1.5rem;
}

.game-board__title {
  text-align: center;
  font-size: 180%;
  margin-bottom: 3.5rem;
}

.game-board__card-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 15rem);
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.game-board__card-list--landscape {
  grid-template-rows: repeat(auto-fit, 10rem);
  grid-template-columns: repeat(auto-fit, 15rem);
}

.game-board__footer {
  margin: 3.5rem auto;
}

@media only screen and (min-width: 767px) {
  .game-board {
    padding-top: 2.5rem;
  }

  .game-board__card-list {
    margin: 0 5rem;
  }
}
