.carousel {
  margin-top: 8px;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  height: 20px;
  line-height: 20px;
}

.carousel__header--title {
  color: var(--color-orange);
  margin: 0;
}

.carousel__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: 0;
}

.carousel__chevron {
  width: 8%;
  position: absolute;
  border: 1px solid var(--color-transparent);
  border-radius: 50%;
  top: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.carousel__chevron > img {
  width: 100%;
  height: 100%;
}

.carousel__chevron:hover {
  cursor: pointer;
}

.carousel__chevron-left {
  left: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.carousel__chevron-right {
  right: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.carousel__selected {
  height: 340px;
  width: 240px;
  position: relative;
  display: flex;
  justify-content: center;
}

.carousel__selected--landscape {
  height: 240px;
  width: 340px;
}

.carousel__selected img {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100%;
  height: 100%;
}

.carousel__previews {
  width: 50%;
}

.carousel__previews > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
  opacity: 0.6;
}

.carousel__bar {
  width: auto;
  display: flex;
  position: absolute;
  bottom: 0;
  margin: 10px auto;
  z-index: 10;
}

.carousel__bar-item {
  border: 1px solid var(--color-black);
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 0 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.carousel__bar-item--shown {
  background-color: var(--color-black);
}
