.carousel {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel__header {
  display: flex;
  justify-content: space-between;
  margin: 0.625rem 0;
  line-height: 1.25;
  width: 15rem;
}

.carousel__header--landscape {
  width: 21.25rem;
}

.carousel__header-title {
  color: var(--color-highlight);
  margin: 0;
}

.carousel__header-toggle {
  align-self: flex-end;
}

.carousel__content {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel__chevron {
  background: none;
  width: 1.2rem;
  position: absolute;
  border: 0.063rem solid var(--color-transparent);
  top: 50%;
  z-index: 1;
  cursor: pointer;
}

.carousel__chevron:focus:not(:focus-visible) {
  border-color: var(--color-transparent);
}

.carousel__chevron > img {
  width: 100%;
  height: 100%;
}

.carousel__chevron-left {
  left: 0;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.carousel__chevron-right {
  right: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.carousel__selected {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__image-wrapper {
  position: relative;
  height: 21.25rem;
  width: 15rem;
}

.carousel__image-wrapper--landscape {
  height: 15rem;
  width: 21.25rem;
}

.carousel__image {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 1.5s ease-in-out 0s;
}

.carousel__image--selected {
  opacity: 1;
  visibility: visible;
}

.carousel__previews {
  display: flex;
}

.carousel__previews > .carousel__previews-image {
  width: 6.25rem;
  height: 8.75rem;
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  opacity: 0.75;
  box-shadow: 0 0.25rem 0.625rem var(--color-black);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0;
  pointer-events: all;
}

.carousel__previews--landscape > .carousel__previews-image {
  width: 8.75rem;
  height: 6.25rem;
}

.carousel__previews > .carousel__previews-image:hover {
  opacity: 1;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.carousel__bar {
  position: absolute;
  bottom: 0.625rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.carousel__bar-item {
  background: none;
  border: 0.063rem solid var(--color-black);
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
}

.carousel__bar-item--shown {
  background-color: var(--color-black);
}
