.game-start__title {
  margin: 30px auto;
  font-size: 180%;
}

.game-start > Button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: 0 auto;
}

.game-start__present {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 200px;
  animation: pop 1.2s infinite;
  -webkit-animation: pop 1.2s infinite;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(-50%, -150%) scale(1, 1);
  }
  55% {
    transform: translate(-50%, -150%) rotate(15deg);
  }
  60% {
    transform: translate(-50%, -150%) rotate(-15deg);
  }
  65% {
    transform: translate(-50%, -150%) rotate(15deg);
  }
  70% {
    transform: translate(-50%, -150%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.25, 0.75);
  }
}
