.game-start {
  height: calc(100vh - 9rem);
  position: relative;
  padding-top: 1.5rem;
  overflow: hidden;
}

.game-start__title {
  margin: 2rem auto;
  font-size: 180%;
  text-align: center;
}

.game-start__button {
  margin: 0 auto;
}

.game-start__present {
  position: absolute;
  height: 55%;
  bottom: -50%;
  left: 50%;
  font-size: 12.5rem;
  animation: shaking 1.2s infinite;
  -webkit-animation: shaking 1.2s infinite;
}

.game-start__footer {
  position: fixed;
  bottom: 3rem;
  width: 100%;
}

.game-start__link {
  font-size: 95%;
  margin: 0;
  position: absolute;
  right: 2rem;
  bottom: 0;
}

@media only screen and (min-width: 767px) {
  .game-start {
    padding-top: 2.5rem;
  }
}

@keyframes shaking {
  0% {
    transform: translate(-50%, -30%) scale(1.25, 0.75);
  }
  50% {
    transform: translate(-50%, -130%) scale(1, 1);
  }
  55% {
    transform: translate(-50%, -130%) rotate(15deg);
  }
  60% {
    transform: translate(-50%, -130%) rotate(-15deg);
  }
  65% {
    transform: translate(-50%, -130%) rotate(15deg);
  }
  70% {
    transform: translate(-50%, -130%) rotate(-15deg);
  }
  100% {
    transform: translate(-50%, -30%) scale(1.25, 0.75);
  }
}
