.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.app__spacer {
  left: 0;
  top: 0;
  height: 60px;
  width: 100vw;
}

.app__spacer--electron {
  height: 85px;
}

.app__header--electron {
  top: 25px;
}

.app::-webkit-scrollbar {
  display: none;
}

.app {
  -ms-overflow-style: none;
}
