.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.app__spacer {
  left: 0;
  top: 0;
  height: 3.75rem;
  width: 100vw;
}

.app__spacer--electron {
  height: 5.3rem;
}

.app__header--electron {
  top: 1.6rem;
}

.app::-webkit-scrollbar {
  display: none;
}

.app {
  -ms-overflow-style: none;
}
