:root {
  --color-primary: #f4f4f4d8;
  --color-secondary: #afccf1;
  --color-font: #12217c;
  --color-shadow: 240, 240, 240;
  --color-disabled: #aaaaaa;
  --color-transparent: Transparent;
  --color-blue: #12217c;
  --color-orange: #eb8d53;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #b33030;
  --color-green: #008000;
  --color-yellow: #f5d252;
  --color-light-gray: #e6e6e6;
  --color-gray: #cfcccc;
}

[theme="dark"] {
  --color-primary: #21374b;
  --color-secondary: #395d7e;
  --color-font: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font);
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 0.9rem;
  line-height: 1.2rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  line-height: 1.8rem;
}

@media only screen and (min-width: 767px) {
  body {
    font-size: 1rem;
  }
}