@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  --color-primary: #f4f4f4d8;
  --color-secondary: #afccf1;
  --color-highlight: #eb8d53;
  --color-font: #12217c;
  --color-icon: invert(11%) sepia(50%) saturate(5413%) hue-rotate(231deg)
    brightness(88%) contrast(101%);
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-disabled: #aaaaaa;
  --color-transparent: Transparent;
  --color-blue: #124c7c;
  --color-orange: #eb8d53;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red: #b33030;
  --color-green: #008000;
  --color-yellow: #f5d252;
  --color-light-gray: #e6e6e6;
  --color-gray: #cfcccc;
}

[theme='dark'] {
  --color-primary: #21374b;
  --color-secondary: #395d7e;
  --color-font: #ffffff;
  --color-shadow: rgba(0, 0, 0, 0.8);
  --color-icon: invert(100%) sepia(2%) saturate(0%) hue-rotate(165deg)
    brightness(102%) contrast(105%);
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0.125rem solid var(--color-highlight);
}

*:focus:not(:focus-visible) {
  outline: none;
}

body {
  background-color: var(--color-primary);
  color: var(--color-font);
  font-family: 'Lora', 'Helvetica Neue', serif;
  font-size: 0.7rem;
  line-height: 1.2rem;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  line-height: 1.8rem;
}

.button-link {
  background: none;
  border: none;
  font: inherit;
  color: var(--color-font);
  display: block;
  margin: 0 2rem 0 auto;
  padding-bottom: 0.1rem;
  border-bottom: 0.0625rem solid var(--color-font);
  cursor: pointer;
}

.button-link:hover {
  opacity: 75%;
}

@media only screen and (min-width: 767px) {
  body {
    font-size: 0.9rem;
  }
}
