.image {
  width: 100%;
  border-radius: 0.38rem;
}

.image--not-loaded {
  visibility: hidden;
}

.image--placeholder {
  background-color: var(--color-secondary);
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}

.image__wrapper {
  display: flex;
  padding: 0.625rem;
}
