.image {
  width: 100%;
  height: 100%;
}

.image--not-loaded {
  visibility: hidden;
}

.image--placeholder {
  background-color: var(--color-secondary);
  position: relative;
  overflow: hidden;
  opacity: 0.5;
}

.image__wrapper {
  padding: 10px;
}
